header{
    background-color: rgb(7, 6, 0);
    color: #2390f0;
    font-size: 30px;
    background-image: url("https://www.myinstants.com/media/instants_images/sisyphus.jpg");
    background-size: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    padding-top: 50px;

}   
main{
    height: 100%;
    display:flex;
    justify-content: center;
} 
.container{
    width: 100%;
    height: 100%;
    color: #ffffff;
}
.left{
    background-color: #919191;
    float: left;
    width: 50%;
    height: 100%;
    font-size: 40px;
    text-align: center;
    
    color: #ffffff;
    font-style: bolder;
    
    
    
}
.right{
    background-color: #919191;
    float: right;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: px;
    padding-top: 75px;
    

}

footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 30px;
    height: 200;
    display: flex;
    
    
    
    
}


body{
    margin: 0;
    background-color: #919191;
}
.f_left{
    width: 30%;
    background-color: black;
    padding-left: 150px;
}
.f_right{
    width: 70%;
    color: #ffffff;
}
.f_right_image{
    background-image: url("");
}
